<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Text Selection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selectable ion-padding">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laboris.</p>
  </div>
</ion-content>
